.content {
  table {
    width: 750px;
    margin: auto;

    tr th {
      letter-spacing: 1px;
      font-weight: 500;
    }

    td .finished,
    .open {
      background-color: #c0392b;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: block;
      margin: auto;
    }

    .open {
      background-color: #27ae60;
    }

    .status-open {
      font-weight: 500;
    }

    .status-closed {
      color: #838383;
      &:hover {
        color: #494949;
      }
    }

    td,
    th {
      text-align: left;
      padding: 8px;
      cursor: pointer;
    }
  }
}
