.avatar {
  padding: 10px;
  cursor: pointer;
}

.header-icon-btn {
  font-size: 20px;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;

  div {
    padding-top: 4px;
  }
}

main {
  display: flex;

  .pacient-data {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: auto;

    .medic-dashboard-title {
      font-weight: 400;
      letter-spacing: normal;
    }
    .consult-dashboard-details {
      border: solid 1px #c6c6c6;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 55%;
      margin-right: 10px;

      .box {
        display: flex;
        gap: 5vh;
      }

      .details-box {
        display: flex;
        flex-direction: column;

        .pacient-details {
          font-size: 20px;
          color: #797979;
          border-bottom: 1px solid rgb(196, 196, 196);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 500px;
  }
  .pacient-data {
    flex-direction: column;
  }

  .consult-dashboard-details {
    width: 90% !important;
  }
}

@media only screen and (max-width: 300px) {
  main {
    width: 250px;
    .pacient-data {
      flex-direction: column;
      .consult-dashboard-details {
        .box {
          display: none !important;
        }
        width: 200px !important;
      }
    }
  }
}
