.content {
  height: 100vh;
  user-select: none;
  overflow: hidden;

  main {
    display: flex;

    > img {
      padding: 50px;
      width: 600px;
      position: absolute;
      right: 0;
    }
  }

  section {
    flex: 20;
    padding: 30px;
    animation: fade 0.2s linear;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 500;

      span {
        color: #ff6584;
      }
    }

    .button-container {
      display: flex;
      width: auto;
      flex-direction: column;

      button {
        width: 300px;
        margin: 10px;
        border-radius: 10px;
      }
    }

    .welcome-content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        width: 290px;
        height: 63px;
        margin-bottom: 10px;
        position: relative;

        .edit-icon {
          position: absolute;
          bottom: 0;
          right: 0;
          cursor: pointer;
        }
      }

      .profile-input-disable {
        caret-color: transparent;
        outline: none;
        user-select: none;
        color: #555555;
      }

      .profile-input,
      .profile-input-disable {
        margin: 10px 0;
        border-radius: 10px;
        width: 300px;
        border: 1px #c6c6c6 solid;
        padding: 10px 15px;
      }

      img {
        width: 500px;
        margin: auto;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
