aside {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: transparent;
  flex: 4;
  border-right: 1px solid #e4e4e4;

  > span {
    font-size: 16px;
    margin: 10px;
  }

  .user-config {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    a {
      text-decoration: none;
      color: var(--color-primary-font);
    }

    .selected {
      color: white;
      background-color: var(--color-purple);
      transition: 0.2s;
      animation: blop linear 0.2s;

      a {
        color: white;
      }

      &:hover {
        color: white;
      }
    }

    span {
      border-radius: 10px;
      padding: 10px 20px;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        color: var(--color-purple);
      }
    }
  }
}
