.content {
  height: 100vh;
  user-select: none;

  main {
    display: flex;
    align-items: stretch;

    section {
      flex: 20;
    }
  }

  section {
    padding: 30px;

    .welcome-content {
      display: flex;
      flex-direction: column;
      padding: 30px;

      img {
        width: 400px;
        margin: auto;
      }
    }
  }

  .hide-element {
    opacity: 0;
  }

  .primary-btn {
    background-color: #6c5ce7;
    color: white;
    transition: 0.2s ease;

    &:hover {
      background-color: #6c5ce7;
      filter: brightness(0.9);
    }
  }

  .cancel-btn {
    &:hover {
      color: #6c5ce7;
    }
  }
}

@keyframes blop {
  from {
    transform: translateX(-4px);
  }
  to {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 600px) {
  .page-forniture {
    display: none;
  }

  main {
    flex-direction: column;

    .welcome-content {
      display: none;
    }
    aside {
      .user-config {
        display: flex;
        flex-direction: row;
        overflow: scroll;
      }
    }
  }
}
