.pacient-consult {
  display: flex;
  flex-direction: column;
  gap: 20px;

  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .status {
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #f1c40f;
      animation: pulse 2s infinite;
    }
  }
  h3 {
    font-weight: 400;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}
