:root {
  --main-bg-color: brown;
  --color-primary-font: #29292e;
  --color-purple: #6c5ce7;
  --color-low-white: #f8f8f8;
  --color-white: #fff;
  --color-red: #ea4335;
  --color-pink: #e559f9;
  --color-low-gray: #a8a8b3;
  --height-footer: 59px;
  --height-nav-bar: 63px;
  --padding: 20px;
}
