* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  letter-spacing: 0.2px;
}

body {
  background: var(--color-low-white);
  color: var(--color-primary-font);
}

body,
input,
button,
textarea {
  font: 400 16px "Poppins", sans-serif;
}
