.cards-container {
  display: flex;
  flex-direction: initial !important;
  flex-wrap: wrap;

  .card {
    width: 240px;
    height: 220px;
    box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
      0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
      0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
      0 15px 137px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
    text-align: left;
    line-height: 1.6;
    -webkit-tap-highlight-color: transparent;
    margin: 30px;
    color: var(--color-primary-font);

    &:hover > .card-header {
      filter: brightness(0.75);
    }

    .card-header {
      transition: 0.2s;
      text-align: center;
      font-weight: 500;
      padding: 20px;
      color: white;
      background: var(--color-purple);
    }

    .card-content {
      padding: 10px 20px;
    }
  }
}
